body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.table{
    width:100%;
}

td, th {
    text-align: left;
    padding: 8px 6px;
}

tr:nth-child(even),table.table thead>tr {
    background-color: #dddddd;
}

input[type=text],
input[type=number],
input[type=date] {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 2px;
    box-sizing: border-box;
    max-width: 400px;
    min-height: 45px;
    margin-bottom: 20px;
    -webkit-appearance: none;

}

label {
    font-weight: bold;
}

.btn {
    width: 100%;
    max-width: 400px;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.5s ease 0s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.btn:hover {
    background-color: #5fd2b4;
    background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0) 100%
    );
    color: #fff;
}

input[type=submit]{
    background-color: #0f9d58;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#remove {
    background-color: #d23459;
    margin-bottom: 24px;
}

input[type=submit]:hover{
    background-color: darkgreen;
}

form div.form-action-buttons{
    text-align: right;
}

.formStyles {
    display: flex;
    flex-direction: column;
}

.table-row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    border-bottom: 0;
    padding: 8px;
}

.table-cell {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 0;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 25%;
}

.table-cell:first-child {
    flex-basis: 75%;
}

.table-cell span {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}